
@media (max-width: 1766px) {
	html {
		overflow-x: hidden;
	}
	body {
		overflow-x: hidden;
	}
	.icon1 {
		margin-left: 63px;
	}
	.nav {
		margin-left: 210px;
	}
	.title {
		font-size: 53px;
	}
	.kupi {
		width: 178px;
		height: 52px;
	}
	.dodaj {
		width: 178px;
		height: 52px;
	}
	.slike {
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		row-gap: 20px;
	}
	.fifth-page-title {
		font-size: 42px;
		padding: 128px 308px 0 477px;
	}
	.pic {
		background-size: 510px 510px;
	}
	.forma {
		margin-right: -270px;
	}
}
@media (max-width: 1618px) {
	.social-media-links {
		display: flex;
		grid-column: 3/4;
		margin: 0;
		margin-top: -140px;
		justify-self: center;
		gap: 5px;
	}
	.facebook {
		margin-top: 12px;
	}
	.title {
		font-size: 45px;
	}
	.under-title {
		width: 315px;
	}
	.iskoristi {
		font-size: 40px;
		margin-left: 886px;
	}
	.lorem {
		margin-left: 886px;
		font-size: 16px;
	}
	.btn-woman-pic {
		margin-left: 886px;
	}
	.sixth-page {
		grid-template-columns: auto auto auto;
	}
	.socijalne-mreze {
		padding: 72px 300px 130px 142px;
	}
	.kontakt-i-podrska {
		padding-right: 10px;
	}
}
@media (max-width: 1426px) {
	.container {
		padding-left: 30px;
	}
	header {
		margin-left: 30px;
	}
	.description {
		margin-left: 84px;
	}
	.dodaj {
		font-size: 20px;
	}
	.kupi {
		font-size: 20px;
	}
	.prize-and-counter {
		p {
			font-size: 44px;
		}
	}
	.counter {
		width: 114px;
		height: 39px;
	}
	.iskoristi {
		margin-left: 25px;
		width: 310px;
	}
	.lorem {
		margin-left: 25px;
		width: 459px;
		margin-top: 189px;
	}
	.btn-woman-pic {
		margin-left: 25px;
	}
	.pic {
		margin-left: 150px;
	}
}
@media (max-width: 1300px) {
	header {
		display: flex;
		flex-wrap: wrap;
	}
	.title {
		font-size: 38px;
	}
	.social-media-links {
		margin-left: -303px;
	}
	.main-img {
		background-size: 427px 557px;
	}
	.container {
		display: grid;
		grid-template-columns: 0fr 1fr 1fr;
	}
	.description {
		margin-left: -53px;
	}
	.img1 {
		background-size: 100px 100px;
	}
	.img2 {
		background-size: 100px 100px;
	}
	.img3 {
		background-size: 100px 100px;
	}
	.img4 {
		background-size: 100px 100px;
	}
	.fourth-page {
		h1 {
			margin-left: 141px;
		}
	}
	.fourth-page-p {
		margin-left: 141px;
		text-align: left;
	}
	.forma {
		margin-right: -540px;
	}
	.fifth-page-title {
		padding: 128px 10px 0 197px;
	}
}
@media (max-width: 1095px) {
	.container {
		display: block;
		padding: 0 330px 0 340px;
	}
	.pictures {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.img1 {
		margin-top: 40px;
	}
	.main-img {
		background-size: 347px 480px;
		margin-left: 0;
	}
	.description {
		margin-top: -145px;
		margin-left: 50px;
	}
	.dodaj {
		margin-left: 0;
		margin-top: 14px;
	}
	header {
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		div {
			&:nth-last-child(-n+3) {
				align-self: flex-start;
			}
		}
	}
	.icon1 {
		margin-left: 32px;
		display: inline-block;
	}
	.icon2 {
		display: inline-block;
	}
	.icon3 {
		display: inline-block;
	}
	.first-section {
		height: 1980px;
	}
	.prize-and-counter {
		margin-top: 26px;
	}
	.kupi {
		margin-top: 33px;
	}
	.icon-text {
		p {
			font-size: 14px;
		}
	}
	.icon-text2 {
		p {
			font-size: 14px;
		}
	}
	.pic {
		margin-left: 99px;
	}
}
@media (max-width: 905px) {
	.nav {
		margin-left: -120px;
	}
	.title {
		font-size: 30px;
	}
	.under-title {
		font-size: 14px;
	}
	.pictures {
		margin-top: -160px;
	}
	.main-img {
		background-size: 286px 419px;
	}
	.star {
		margin-top: -30px;
	}
	.prize-and-counter {
		flex-direction: column;
		gap: 10px;
	}
	.icon-text {
		flex-direction: column;
		text-align: center;
	}
	.icon-text2 {
		flex-direction: column;
		text-align: center;
	}
	.first-headphone {
		background-size: 298px 298px;
	}
	.second-headphone {
		background-size: 298px 298px;
	}
	.third-headphone {
		background-size: 298px 298px;
	}
	.fourth-headphone {
		background-size: 298px 298px;
	}
	.slike {
		padding-left: 49px;
	}
	.name {
		margin-top: -60px;
		line-height: 4px;
		font-size: 25px;
	}
	.prize {
		font-size: 39px;
		margin-bottom: 20px;
	}
	.pic-form {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.fifth-page-title {
		font-size: 34px;
	}
	.forma {
		margin-top: -357px;
	}
	.icon-and-text {
		padding-bottom: 20px;
	}
	.sixth-page {
		grid-template-columns: auto auto;
	}
	.pomoc {
		padding: 72px 300px 130px 142px;
	}
	.socijalne-mreze {
		padding-left: 0;
	}
}
@media (max-width: 780px) {
	.nav {
		flex-direction: column;
		gap: 15px;
	}
	.description {
		width: 120px;
		margin-top: -293px;
	}
	.prize-and-counter {
		p {
			font-size: 37px;
		}
	}
	.icon-text {
		p {
			line-height: 20px;
			font-size: 12px;
		}
	}
	.icon-text2 {
		p {
			line-height: 20px;
			font-size: 12px;
		}
	}
	.titles {
		gap: 30px;
		padding-left: 100px;
	}
	.first-title {
		font-size: 21px;
	}
	.second-title {
		font-size: 21px;
	}
	.third-title {
		font-size: 21px;
	}
	.first-p {
		max-width: 398px;
		font-size: 16px;
	}
	.second-p {
		max-width: 398px;
		font-size: 16px;
	}
	.third-p {
		max-width: 398px;
		font-size: 16px;
	}
	hr {
		left: 100px;
		width: 334px;
	}
	.container2 {
		margin-left: 100px;
	}
	.slike {
		padding-left: 8px;
	}
	.fourth-page {
		h1 {
			margin-left: 59px;
			font-size: 42px;
		}
	}
	.fourth-page-p {
		margin-left: 59px;
	}
	footer {
		span {
			font-size: 15px;
		}
	}
}
@media (max-width: 694px) {
	.container {
		margin-left: -123px;
	}
	.under-title {
		width: 201px;
		margin-top: 0;
	}
	.title {
		font-size: 27px;
	}
	.main-img {
		background-size: 251px 384px;
	}
	.prize-and-counter {
		p {
			font-size: 32px;
		}
	}
	.social-media-links {
		flex-direction: column;
		margin-left: -108px;
	}
	.slike {
		grid-template-columns: 1fr;
	}
	.fourth-page-p {
		width: 439px;
	}
	.kontakt-i-podrska {
		padding-left: 45px;
	}
	.pomoc {
		padding-left: 45px;
		padding-top: 0;
	}
	.pozovite {
		left: 90px;
	}
	.broj {
		left: 90px;
	}
	.socijalne-mreze {
		padding-top: 0;
		margin-left: -100px;
	}
	.o-nama {
		margin-left: -100px;
	}
	footer {
		padding-left: 21px;
		font-size: 13px;
	}
}
@media (max-width: 500px) {
	.nav {
		margin-left: -79px;
	}
	.description {
		margin-left: -31px;
	}
	.social-media-links {
		margin-left: -158px;
	}
	.main-img {
		margin-left: -78px;
	}
	.title {
		font-size: 24px;
	}
	.fifth-page-title {
		padding-left: 107px;
	}
	.pictures {
		margin-left: -59px;
	}
	.titles {
		gap: 22px;
		padding-left: 59px;
	}
	hr {
		left: 59px;
	}
	.container2 {
		margin-left: 59px;
	}
	.first-p {
		max-width: 266px;
		font-size: 15px;
		text-align: justify;
	}
	.second-p {
		max-width: 266px;
		font-size: 15px;
		text-align: justify;
	}
	.third-p {
		max-width: 266px;
		font-size: 15px;
		text-align: justify;
	}
	.iskoristi {
		width: 304px;
		font-size: 35px;
	}
	.lorem {
		width: 267px;
		text-align: justify;
	}
	.kupi {
		margin-top: 177px;
		width: 135px;
		height: 46px;
		font-size: 17px;
	}
	.dodaj {
		width: 135px;
		height: 46px;
		font-size: 17px;
	}
	.fourth-page-p {
		width: 209px;
		text-align: justify;
	}
	.fourth-page {
		h1 {
			font-size: 38px;
		}
	}
	.first-headphone {
		margin-top: 85px;
	}
	.sixth-page {
		grid-template-columns: auto;
		justify-items: center;
		align-items: center;
	}
	.pozovite {
		left: 200px;
		left: 180px;
	}
	.broj {
		left: 200px;
		left: 180px;
	}
	.kontakt-i-podrska {
		padding-left: 0;
	}
	.pomoc {
		padding-left: 0;
		margin-left: 0;
		padding-right: 60px;
		width: 237px;
	}
	.o-nama {
		margin-left: 0;
		padding-right: 60px;
		width: 237px;
	}
	.socijalne-mreze {
		margin-left: 0;
		padding-right: 60px;
		width: 237px;
	}
	footer {
		span {
			font-size: 13px;
		}
	}
	.first-section {
		height: auto;
	}
	.pic {
		background-size: 470px 470px;
	}
}
@media (max-width: 400px) {
	.nav {
		margin-left: -26px;
		font-size: 16px;
	}
	.kupi {
		width: 159px;
		height: 44px;
		font-size: 18px;
	}
	.dodaj {
		width: 159px;
		height: 44px;
		font-size: 18px;
	}
	.pozovite {
		left: 130px;
	}
	.broj {
		left: 130px;
	}
	footer {
		span {
			font-size: 14px;
		}
	}
	.first-section {
		height: auto;
	}
	.pic {
		margin-left: 139px;
	}
	input {
		width: 324px;
		height: 40px;
		margin-right: 516px;
		&:nth-child(12) {
			width: 301px;
		}
	}
	form {
		button {
			width: 301px;
			height: 51px;
		}
	}
	.icon-and-text {
		padding-left: 0;
	}
	.fifth-page-title {
		padding-left: 57px;
	}
}
